<!-- tab开始 -->
<div class="navigation_conTab navigation_color_one navigation_margin_one">
 <ul class="clearfix">
  <li  ng-click="goState('activity')"><!--ui-sref="activity"-->
   <img src="images/nav03.png">
   <p>社区活动</p>
  </li>
  <li ui-sref="hotproduct.hotproduct"><!--ui-sref="hotproduct.hotproduct"-->
   <img src="images/nav10.png">
   <p>热销产品</p>
  </li>
  <li ui-sref="spare.surplusSpare">
   <img src="images/new01.png">
   <p>天天鲤余</p>
  </li>
  <li ng-click = "neighbor()">
   <img src="images/nav08.png">
   <p>邻居圈</p>
  </li>
  <li ui-sref="store.store">
   <img src="images/nav09.png">
   <p>周边商户</p>
  </li>
  <li ui-sref="bankservice.bank_service">
   <img src="images/nav07.png">
   <p>网点服务</p>
  </li>
  <li ng-click = "phone()">
   <img src="images/nav05.png">
   <p>手机银行</p>
  </li>
  <li ng-click = "personal()">
   <img src="images/nav04.png">
   <p>个人中心</p>
  </li>
 </ul>
</div>